$blue: #265698;
$yellow: #fff47f;
$primary: $blue;
$dark-blue: #0c3066;

$font-family-sans-serif: 'Mulish', sans-serif;
$font-family-cursive: 'Coming Soon', cursive;
$headings-font-family: $font-family-cursive;
